.so-cascader-input::-webkit-input-placeholder {
    color: #999;
    line-height: 22px
}

.so-cascader-input::-moz-placeholder {
    color: #999;
    line-height: 22px
}

.so-cascader-input:-ms-input-placeholder {
    color: #999;
    line-height: 22px
}

.so-cascader-input::-ms-input-placeholder {
    color: #999;
    line-height: 22px
}

.so-cascader-input::placeholder {
    color: #999;
    line-height: 22px
}

.so-cascader-input:focus {
    outline: none
}

.so-cascader, .so-cascader-input-wrapper {
    position: relative
}

.so-cascader {
    color: #222;
    font-size: 14px
}

.so-cascader-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 9px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    cursor: pointer
}

.so-cascader-input--active {
    border-color: #19b955
}

.so-cascader-input__arrow {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    margin: auto;
    cursor: pointer
}

.so-cascader-input__arrow--reverse {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.so-option-area-wrapper {
    position: fixed;
    z-index: 20
}

.so-option-area-wrapper .so-option-area-panel {
    float: left;
    margin-right: 6px
}

.so-option-area-wrapper .so-option-area-panel:last-child {
    margin-right: 0
}

.so-option-area {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #222;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    -webkit-box-shadow: 0 2px 16px 0 rgba(201, 208, 220, 0.50196);
    box-shadow: 0 2px 16px 0 rgba(201, 208, 220, 0.50196)
}

.so-option-area__option {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 35px 0 20px;
    line-height: 40px;
    white-space: nowrap;
    cursor: pointer
}

.so-option-area__option--active {
    color: #19b955;
    font-weight: 700;
    background: #f8f8f8
}

.so-option-area__option:hover {
    background: #f8f8f8
}

.so-option-area__option--arrow:after {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    background-image: url("https://p1.ssl.qhimg.com/t0143b37f8a8c847465.png");
    background-size: cover;
    content: ""
}

.so-option-area::-webkit-scrollbar-button {
    height: 12px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0
}

.so-option-area::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #d8d8d8;
    border-radius: 12px
}

.so-option-area::-webkit-scrollbar {
    width: 5px
}

.so-gotop {
    position: fixed;
    z-index: 5;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #eee;
    cursor: pointer
}

.so-gotop > .so-gotop__icon {
    display: block;
    width: 25px;
    height: 15px;
    margin: 17px 12px;
    background-image: url("https://p.ssl.qhimg.com/t015d788c95365544ad.png");
    background-position: 0 -51px
}

.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.fade-enter, .fade-leave-to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0
}

.so-header {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    padding: 11px 20px 11px 16px;
    color: #666;
    font-size: 13px;
    background-color: #fff;
    z-index: 5
}

.so-header__content {
    position: relative;
    width: 100%;
    height: 100%
}

.so-header__left > * {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer
}

.so-header__left > :last-child {
    margin-right: 0
}

.so-header__right {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.so-header__right > * {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer
}

.so-header__right > :first-child {
    margin-left: 0
}

.so-header-menu {
    height: 21px;
    font-size: 0;
    vertical-align: middle
}

.so-header-menu > * {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px
}

.so-header-menu > *:first-child {
    margin-left: 0
}

.so-header-menu-item {
    position: relative;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    list-style: none;
    font-size: 13px
}

.so-header-menu-item > .so-header-menu-item__title-wrap {
    display: inline-block;
    height: 21px;
    overflow: hidden;
    color: #666
}

.so-header-menu-item > .so-header-menu-item__title-wrap:hover {
    cursor: pointer
}

.so-header-menu-item > .so-header-menu-item__title-wrap:hover > .so-header-menu-item__title, .so-header-menu-item > .so-header-menu-item__title-wrap:hover > .so-header-menu-item__title > *, .so-header-menu-item > .so-header-menu-item__title-wrap--active > .so-header-menu-item__title, .so-header-menu-item > .so-header-menu-item__title-wrap--active > .so-header-menu-item__title > * {
    color: #0fb264
}

.so-header-menu-item > .so-header-menu-item__title-wrap:hover > .so-icon__arrow, .so-header-menu-item > .so-header-menu-item__title-wrap--active > .so-icon__arrow {
    border-top-color: #0fb264
}

.so-header-menu-item__title {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis
}

.so-header-menu-item__title > a {
    color: #666;
    text-decoration: none
}

.so-header-menu-item__submenu {
    z-index: 1;
    position: absolute;
    top: 27px;
    right: 0;
    margin: 0;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.04)
}

.so-header-menu-item__submenu--hide {
    display: none
}

.so-icon__arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: 8px;
    border-top: #999 5px solid;
    border-right: transparent 5px solid;
    border-left: transparent 5px solid
}

.so-header-submenu-item {
    padding: 6px;
    color: #666;
    font-size: 13px;
    line-height: 21px;
    white-space: nowrap;
    text-align: center;
    list-style: none
}

.so-header-submenu-item > a {
    color: #666;
    text-decoration: none
}

.so-header-submenu-item:hover, .so-header-submenu-item > a:hover {
    color: #0fb264;
    cursor: pointer
}

.so-loading {
    height: 20px;
    margin: 20px 0;
    color: #999;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center
}

.so-loading__icon {
    display: inline-block;
    vertical-align: 0;
    margin-right: 8px;
    -webkit-animation: so-loading-rotate 1s 0s infinite steps(12, end) normal none;
    animation: so-loading-rotate 1s 0s infinite steps(12, end) normal none
}

.so-loading__icon > svg {
    vertical-align: top
}

@-webkit-keyframes so-loading-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes so-loading-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.so-nav-container {
    min-width: 1020px;
    height: 36px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0
}

.so-nav-container__item {
    float: left;
    text-align: center
}

.so-nav-container__item--href {
    display: block;
    width: 56px;
    height: 36px;
    color: #666;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none
}

.so-nav-container__append, .so-nav-container__append-right {
    display: inline-block
}

.so-nav-container__append-right {
    float: right
}

.so-suggest, .so-suggest__item {
    overflow: hidden
}

.so-suggest {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: -1px;
    width: 574px;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: #fff;
    border: 2px solid #0fb264;
    border-radius: 0 0 8px 8px;
    border-top: none;
    z-index: 100
}

.so-suggest__a {
    position: relative;
    display: block;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 52px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-decoration: none
}

.so-suggest__text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.so-suggest__clear-history {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
    text-align: right;
    padding-right: 14px;
    cursor: pointer;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.so-suggest__del {
    position: absolute;
    top: 6px;
    right: 14px;
    display: none;
    color: #999;
    font-size: 12px;
    line-height: 12px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.so-search, .so-search__form, .so-form-slot {
    display: inline-block
}

.so-search {
    position: relative;
    height: 40px;
    vertical-align: top
}

.so-search__form {
    height: 100%;
    word-spacing: -6px
}

.so-search__input-wrap {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 572px;
    word-spacing: 0
}

.so-search__input, .so-search__button {
    height: 100%;
    line-height: 34px;
    font-size: 16px
}

.so-search__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    outline: 0;
    color: #333;
    border: 2px solid #ccc;
    border-right: none;
    padding: 1px 34px 1px 14px;
    border-radius: 8px 0 0 8px
}

.so-search__button, .so-search__clear {
    display: inline-block;
    vertical-align: top;
    cursor: pointer
}

.so-search__button {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91px;
    color: #fff;
    border: 1px solid #0fb264;
    border-radius: 0 8px 8px 0;
    letter-spacing: 1px;
    text-align: center;
    background-color: #0fb264;
    outline: none;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease
}

.so-search__clear {
    position: absolute;
    right: 0;
    top: 2px;
    height: 36px;
    width: 36px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTkuODEuMTljLjI1LjI1LjI1LjY3LDAsLjkyTDUuOTIsNSw5LjgxLDguODljLjIzLjIzLjI1LjU5LjA3Ljg0bC0uMDcuMDhjLS4yNS4yNS0uNjcuMjUtLjkyLDBMNSw1LjkyLDEuMTEsOS44MWMtLjI1LjI1LS42Ny4yNS0uOTIsMHMtLjI1LS42NywwLS45Mkw0LjA4LDUsLjE5LDEuMTFDLS4wNC44OC0uMDYuNTIuMTIuMjdMLjE5LjE5Yy4yNS0uMjUuNjctLjI1LjkyLDBMNSw0LjA4LDguODkuMTljLjI1LS4yNS42Ny0uMjUuOTIsMHoiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center
}

.so-nav-container > ul {
    margin-top: 0;
    padding-left: 134px
}

.so-search__input::-ms-clear {
    display: none
}

.so-search__input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px
}

.so-search__input::-moz-placeholder {
    color: #999;
    font-size: 14px
}

.so-search__input::-ms-input-placeholder {
    color: #999;
    font-size: 14px
}

.so-search__input::placeholder {
    color: #999;
    font-size: 14px
}

.so-nav-container > ul:after {
    content: "";
    height: 0;
    display: block;
    clear: both
}

.so-nav-container__item--href:hover {
    text-decoration: none;
    color: #333
}

.so-nav-container[data-type=single] {
    border-bottom: none
}

.so-suggest__item:hover, .so-suggest__item.selected {
    background-color: #f9f9f9
}

.so-suggest__item + .so-suggest__item {
    margin-top: 1px
}

.so-suggest__a:hover {
    color: #333
}

.history .so-suggest__a {
    color: #7776cc
}

.so-suggest__clear-history:hover {
    color: #333
}

.so-suggest__del:hover {
    color: #666
}

.so-search__input:hover {
    border-color: #aaa
}

.so-search__input:focus {
    border-color: #0fb264
}

.so-search__input.has-sug {
    padding-bottom: 3px;
    border-color: #0fb264;
    border-bottom: none;
    border-bottom-left-radius: 0
}

.so-search__input:-ms-input-placeholder {
    color: #999;
    font-size: 14px
}

.so-search__button:hover {
    border-color: #2dc471;
    background-color: #2dc471
}

.so-search__button:active {
    border-color: #0da05a;
    background-color: #0da05a
}

.so-search__clear:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTkuODEuMTljLjI1LjI1LjI1LjY3LDAsLjkyTDUuOTIsNSw5LjgxLDguODljLjIzLjIzLjI1LjU5LjA3Ljg0bC0uMDcuMDhjLS4yNS4yNS0uNjcuMjUtLjkyLDBMNSw1LjkyLDEuMTEsOS44MWMtLjI1LjI1LS42Ny4yNS0uOTIsMHMtLjI1LS42NywwLS45Mkw0LjA4LDUsLjE5LDEuMTFDLS4wNC44OC0uMDYuNTIuMTIuMjdMLjE5LjE5Yy4yNS0uMjUuNjctLjI1LjkyLDBMNSw0LjA4LDguODkuMTljLjI1LS4yNS42Ny0uMjUuOTIsMHoiIGZpbGw9IiM2NjYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==)
}

.so-nav-container__item.activated-tab:after {
    display: block;
    content: "";
    width: 18px;
    height: 3px;
    margin: 0 auto;
    margin-top: -3px;
    background: #0fb264;
    border-radius: 2px
}

.so-nav-container[data-type=above] > ul {
    padding-left: 5px
}

.so-nav-container[data-type=single] > ul {
    padding-left: 20px
}

.so-search .so-suggest:before {
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    right: 14px;
    display: block;
    height: 1px;
    background-color: #eee
}

.so-nav-container__item.activated-tab .so-nav-container__item--href {
    color: #0fb264
}

.so-nav-container[data-type=single] .so-nav-container__item--href {
    width: auto;
    font-size: 13px
}

.so-nav-container[data-type=single] .so-nav-container__item:after {
    display: none
}

.so-nav-container[data-type=single] .so-nav-container__item + .so-nav-container__item {
    margin-left: 20px
}

.so-suggest__item.history:hover .so-suggest__del {
    display: inline-block
}